<div class="bg-black">
  {{ if .background }}
  <div class="pt6 pt7-ns cover flex bg-center fadein" style="background-image: url('{{ .background }}');    background-position: 50%;">
  {{ else }}
  <div class="pt3 pt4-ns cover flex bg-center fadein bg-darkblue">
  {{ end }}
  <!--   <div class="fadein w-100 z-0">
    {{ range .backgrounds }}
      <img src="{{ .image }}">
    {{ end }}
    </div> -->
    <div class="gradient h-100">
      <div class="mw7 center ph3 items-end">
        <div class="db mb4">
          <div class="mw7 relative bg-fix-primary mb2">
            {{ if .pre }}
            <p class="b f6 lh-title white mb0">
              {{.pre}}
            </p>
            {{ end }}
            <h1 class="f2 f1-l b di lh-title mb2 white mw6">
              {{.title}}
            </h1>
            {{ if .subtitle }}
            <h2 class="b f3 lh-title white mb2">
              {{.subtitle}}
            </h2>
            {{ end }}
            {{ if .writer }}
            <p class="b f4 white mb2">
              by {{.writer}}{{ if .translator }}, translated by {{.translator}}{{ end }}
            </p>
            {{ end }}
          </div>
          <div class="mw7 relative bg-fix-primary">
            {{ if .cta }}
            <p class="b f4 white mw6 mb2">
              <a href="{{.link}}" class="link">→ {{.cta}}</a></p>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

