::selection {
  background-color: var(--highlight);
}

html,body {
  background: #111;
}

.container {
  max-width: 1680px;
  background: white;
  margin: auto;
  overflow-x: hidden;
}

.nav-r {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav-r {
    display: inline;
  }
  .nav-p {
    display: none;
  }
  #nav-master {
  	align-items: center;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--primary);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
  min-width: 230px;
  /*white-space: nowrap;*/
}

.sidenav .active {
  box-shadow: inset -4px 0 0 var(--primary);
  color: white;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 220px;
}

.submenu-r {
	margin-left: 16px;

}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}

.top-header {
	box-shadow: inset 0 0 0 var(--grey-1);
	/* Link hover states */
	& li {
		transition: var(--hover-transition);
	}
	& li ul {
		transition: var(--opacity-transition);
		transition-delay: 150ms;
	}
}

.deco-border {
	min-height: 18px;
	background: black url("/img/border.png") repeat-x center;
}

.nav {
    list-style: none;
    font-weight: bold;
    position: relative;
    z-index: 5;
    
}
.nav li {
    float: left;
    margin-right: 10px;
    position: relative;
}
.nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: none;
}

.nav ul {
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
    opacity: 0;
}

.nav ul li {
    float: none;
}

.nav li:hover {
    background: var(--primary);
}

.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
    opacity: 1;
}

.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    color: white;
}

.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}

.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}


.primary-menu li {
	padding: 0.5rem 1rem;
}

.sub-menu li {
	background: var(--primary);
	color: white;
	padding: .75rem 1rem;
}

.sub-menu li a:hover {
	color: black;
}

.secondary-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	padding: 0.5rem;
  padding-right: 0.4rem;
}

.secondary-menu li {
	margin-left: 0.5rem;
	text-decoration: none;
}

.secondary-menu li a {
	text-decoration: none;
}

.secondary-menu li:hover {
	border-bottom: 2px solid var(--primary);
	color: var(--primary);
}

.gradient {
  background-image: linear-gradient(rgba(0,0,0,0), 50%, rgba(0,0,0,0.85));
  width: 100%;
  height: 100%;
  position: relative;
}



.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 80%;
    max-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    color: #333;
  }
  &>div .scrollme {
    display: inline-block;
    max-height:30rem;
    overflow: scroll;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #333333;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}


.fadein {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.cms ul {
  max-width: 35rem;
  padding-left: 2rem;
}

hr {
  max-width: 40rem;
  border-color: var(--secondary);
  margin: 1rem 0;
  border-top: 0;
}