<div class="mb4 db">
	<!-- <a href="{{ .Permalink }}" class="no-underline db raise">
		<h2 class="f3 b lh-title mb1 primary mb1">{{ .Title }}</h2>
	</a> -->
	<!-- <p class="f6 mb0">{{ .Description | markdownify }}</p>
	<a href="{{ .Permalink }}" class="no-underline db raise">
		<p class="f6 link b dib black mb0">Read more →</p>
	</a> -->
	<div class="flex-ns flex-wrap mhn2-ns">
	  {{ if .Params.titleimage }}
	  <div class="mr2">
	  	<a href="{{.Permalink}}">
	      <img src="{{.Params.titleimage}}" alt="" class="w-60 w-100-ns db mb3">
	    </a>
	  </div>
	  {{ else if .Params.background }}
	  <div class="mr2">
	    <a href="{{.Permalink}}">
	      <img src="{{.Params.background}}" alt="" class="w-60 w-100-ns db mb3">
	    </a>
	  </div>
	  {{ end }}
	  <div class="ph2-ns">
	  	<p class="f6 b mb1">{{ .Params.season }}</p>
	    <a href="{{.Permalink}}" class="link">
	    <h4 class="f4 b lh-title">{{.Title}}</h4>
	    </a>
	  </div>
	</div>
</div>
