{{ define "main" }}

{{ partial "jumbotron" (dict "background" .Params.background "pre" .Params.pre "title" "Past Productions" "subtitle" .Params.subtitle "cta" .Params.cta "link" .Params.link) }}

<div class="mw7 center pv4">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
  	{{ $season := (int .Site.Params.currentseason) }}
      {{ range where (where .Paginator.Pages "Type" "productions") ".Params.season" "<"  $season }}
          <div class="w-100-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
