{{ define "main" }}

{{ partial "jumbotron" (dict "background" .Params.background "pre" .Params.pre "title" .Title "subtitle" .Params.subtitle "cta" .Params.cta "link" .Params.link "writer" .Params.writer "translator" .Params.translator) }}

  <div class="mw7 center ph3 pv4">
    <div class="flex-ns justify-between">
      <div class="cms w-60-ns">
        <h2 class="lh-title b mb3">{{ .Params.heading }}</h2>
        {{ if .Params.titleimage }}<img src="{{ .Params.titleimage }}" alt="{{ .Title }}" />{{ end }}
        <p class="cms">{{ .Description | markdownify }}</p>
        {{ if .Params.videos }}
          <div class="mb4">
            {{ range .Params.videos }}
              {{ partial "youtube" (dict "id" .id) }}
            {{ end }}
          </div>
        {{ end }}
      </div>
      <div class="w-33-ns mb4">
        {{ if .Params.start }}
          <p class="f4 b mb3">{{ dateFormat "January 2, 2006" .Params.start }} {{ if .Params.end }}- {{ dateFormat "January 2, 2006" .Params.end }}{{ end }}</p>
        {{ end }}
        {{ if .Params.stage }}
          <p class="f5 b mb0">{{ .Params.stage }}</p>
        {{ end }}
        {{ if .Params.address }}
          <p class="mb3">{{ .Params.address }}</p>
        {{ end }}
        {{ if .Params.ticketlink }}
          <div class="pv2">
            <a href="{{.Params.ticketlink}}" class="btn-ticket raise">BUY TICKETS</a>
          </div>
          <!-- <div id="open-modal-{{.Title}}-tickets" class="modal-window">
            <div>
              <a href="#!" title="Close" class="modal-close"><img src="/img/close-button.svg" alt="close" class="w-40 mt2 ml3"></a>
              <div class="scrollme">
                <iframe src="{{.Params.ticketlink }}" width="550" height="400"></iframe>
              </div>
            </div> 
          </div>-->
        {{ end }}


        {{ if .Params.externallink }}
          <div class="pv2">
            <a href="{{.Params.externallink}}" class="btn raise">{{ .Params.externallinklabel }}</a>
          </div>
        {{ end }}

        {{ if .Params.ticketinfo }}
          <p class="f6 mb2">{{ .Params.ticketinfo | markdownify }}</p>
        {{ end }}

        {{ if .Params.ticketlink }}
          {{ if .Params.visitlink }}
            {{ if ne .Params.visitlink "none" }}
            <p class="f6 mb3"><a href="{{.Params.visitlink}}" class="link">→ Plan your visit</a></p>
            {{ else }}
            <p class="f6 mb3"><a href="/about/visit" class="link">→ Plan your visit</a></p>
            {{ end }}
          {{ end }}
        {{ end }}
        
        <div class="mb3">
          {{ if .Params.writer }} <p class="mb1">Written by <span class="b">{{ .Params.writer }}</span></p> {{ end }}
          {{ if .Params.translator }} <p class="mb1">Translated by <span class="b">{{ .Params.translator }}</span></p> {{ end }}
          {{ if .Params.director }} <p class="mb1">Directed by <span class="b">{{ .Params.director }}</span></p> {{ end }}
          {{ if .Params.featuring }} <p class="mb1">Featuring <span class="b">{{ .Params.featuring }}</span></p> {{ end }}
          {{ if .Params.designteam }} <p class="mb1">Design Team: <span class="b">{{ .Params.designteam }}</span></p> {{ end }}
          {{ if .Params.musicaldirector }} <p class="mb1">Music by <span class="b">{{ .Params.musicaldirector }}</span></p> {{ end }}
          {{ if .Params.dramaturg }} <p class="mb1">Dramaturgy by <span class="b">{{ .Params.dramaturg }}</span></p> {{ end }}
          {{ if .Params.additional }} <p class="f6 mb1 i">{{ .Params.additional }}</p> {{ end }}
        </div>
        <div class="mb3">
          {{ if .Params.awards }}<p class="f6 b i mb1">{{ .Params.awards }}</p> {{ end }}
          {{ if .Params.awardsimage }} <img src="{{ .Params.awardsimage }}" class="mw3" alt="" /> {{ end }}
          {{ if .Params.misc }} <hr /><p class="f6 mb1">{{ .Params.misc | markdownify }}</p> {{ end }}
        </div>
        {{ if .Params.program }}
          <div class="mb3">
            <p class="f6 b mb1"><a href="{{.Params.program}}">
            {{ if .Params.programlabel}}
              {{ .Params.programlabel }}
            {{ else }}
              Read the full production program
            {{ end }}</a></p>
          </div>
        {{ end }}
        {{ if .Params.pdf }}
          <div class="mb3">
            <p class="f6 b mb1"><a href="{{.Params.pdf}}">
            {{ if .Params.pdflabel}}
              {{ .Params.pdflabel }}
            {{ else }}
              View PDF
            {{ end }}</a></p>
          </div>
        {{ end }}

        <!-- <div class="mb3"><a href="https://goldenthread.secure.force.com/donate/?dfId=a0n3Z00000tn4RsQAI"><img class="w-100 mw5" src="/img/archive/2015/03/Donate-Button-400.jpg" /></a>
        </div> -->
      </div>
    </div>
    <div class="cms pv3">
      {{ .Content }}
    </div>
    <div>
      
      {{ if .Params.grids }} 
        {{ range .Params.grids }}
          {{ partial "3-up" ( . ) }}
        {{ end }}
      {{ end }}

      {{ if .Params.lists }} 
        {{ range .Params.lists }}
          {{ partial "list-sm" ( . ) }}
        {{ end }}
      {{ end }}

      {{ if .Params.cast }} {{ partial "people" (dict "cast" .Params.cast "pageUrl" .Permalink) }} {{ end }}


      {{ if .Params.mentions.text }} {{ partial "bottom" (.Params.mentions) }} {{ end }}

      {{ if .Params.photos }}
    </div>
  </div>
  <div>
    <div class="mw7 center ph3">
      {{ partial "gallery" (dict "photos" .Params.photos "pageUrl" .Permalink "galleryID" "1") }}
    </div>
  </div>
  <div>
      <div class="mw7 center ph3">
      {{ end }}

      {{ if .Params.photos2 }}
    </div>
  </div>
  <div>
    <div class="mw7 center ph3">
      {{ partial "gallery" (dict "photos" .Params.photos2 "pageUrl" .Permalink "galleryID" "2") }}
    </div>
  </div>
  <div>
      <div class="mw7 center ph3">
      {{ end }}

      {{ if .Params.photos3 }}
    </div>
  </div>
  <div>
    <div class="mw7 center ph3">
      {{ partial "gallery" (dict "photos" .Params.photos3 "pageUrl" .Permalink "galleryID" "3") }}
    </div>
  </div>
  <div>
      <div class="mw7 center ph3">
      {{ end }}

      {{ if .Params.archivevideo }}
          <div class="mb3">
            <p class="b mb1">Watch video from the production:</p>
            {{ partial "youtube" (dict "id" .Params.archivevideo) }}

            {{ if .Params.archivevideo2 }}
              <br /><br />
              {{ partial "youtube" (dict "id" .Params.archivevideo2) }}
            {{ end }}

            {{ if .Params.archivevideo3 }}
              <br /><br />
              {{ partial "youtube" (dict "id" .Params.archivevideo3) }}
            {{ end }}
          </div>
      {{ end }}



      {{ if .Params.bottom }} {{ partial "bottom" (.Params.bottom) }} {{ end }}
    </div>
  </div>
{{ end }}
